//ANIMATIONS

.monthList__listItemHolder {
	width:100%;
	display: flex;
	@include bp('xlrg') {
		justify-content: space-around;
	}
}
.listItemFades {
	transform: scale(1);
}

.listItemFades-appear {
	transition: all 0.5s ease-in;
	transform: translateY(-50%);
	opacity:0;
}

.listItemFades-appear.listItemFades-appear-active {
	transform: translateY(0);
	opacity: 1;
}


.listItemFades-leave{
	transform: scale(1);
}

.listItemFades-leave.listItemFades-leave-active {
	transform: scale(2);
	transition: all 5s;
}


.footerAnimate {
	margin:auto;
}
.footerArrives-appear {
	transition: all 0.5s ease-out;
	transform: scale(0);
	opacity: 0;
}

.footerArrives-appear.footerArrives-appear-active {
	transform: scale(1);
	opacity: 1;
}


