//show hide to do form
.wrapCreateToDo {
	@include bp('sml'){
		order: 1
	}
}
.formMakeToDo{
	display: none;
}
.showFormMakeToDo {
	display: flex;
	position: absolute;
	z-index: 99;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 50%);
	flex-direction: column;
	background: $white;
	padding: 20px;
	border: 1px solid $surpriseGreen;
	border-radius: 10px;
	@include bp('med') {
		transform: translate(0);
		top:0;
		left:0;
		margin:5px;
	}
}

.closeForm {
	align-self: flex-start;
}
.closeForm a i.fa-times{
	text-decoration: none;
	color: $surpriseGreen;
	font-size: 2rem;
	transition: all 0.3s ease-out;
	transform: scale(1);
	&:hover {
		transform: scale(1.3);
	}
}
.showFormMakeToDo h2 {
	font-size: 3rem;
	text-align: center;
	margin-top: 20px;
	color: $blue;
	@include bp('med') {
		font-size: 2rem;
	}
}

.showFormMakeToDo p {
	text-align: center;
	font-size: 1.7rem;
	margin:0 0 20px 0;
}

.showFormMakeToDo {}
.showOverlay {
	position: fixed;
	background: transparentize($white, 0.1);
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 8;
}

.formList {
	display: flex;
	flex-direction: column;
	padding:0;
	align-items: center;
	font-size: 1.7rem;
	margin: 0 auto;
}

.formList li {
	display: flex;
	align-items: center;
}

.formList li h6 {
	font-size: 1.7rem;
	@include bp('med') {
		text-align: center;
		margin: 10px 0 10px 0;
	}
}

.formList input[type='radio'] ~ label {
	margin-bottom: 5px;
}
.formList li:first-child {
	margin-bottom: 10px;
	@include bp('med') {
		flex-direction:column;
	}
}

.formList li:last-child {
	align-self:center;
	margin-top: 20px;
}
.formMakeToDo__submitBtn {
	@include btnStyles($white, $blue)
}
.holdCreateToDo {
	display: flex;
	@include bp('med') {
		justify-content: space-between;
	}
}

.holdCreateToDo p {
	font-family: "Pacifico", cursive;
	font-size: 2rem;
	 margin-right: 10px;
}


.addToDoBtn {
	@include btnStyles($white, $blue);
	margin: auto;
	flex-shrink: 0;
	@include bp('med'){
		margin:auto 0 auto 0;
		flex-grow: 0;
	}
}