
//Footer Styling
footer {
	position: fixed;
	bottom:0;
}

.footerTag {
	display: block;
	margin: 30px 0 20px 20px;
	font-size: 3rem;
	color: $blue;
	font-family: $cursive;
	letter-spacing: 1.3px;
	text-decoration: none;
	transition: all 0.3s ease-out;
	outline:none;
	text-align: center;
	&:hover {
		color: $surpriseGreen;
	}
}
.overlayFooter {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: transparentize($white, 0.3);
	z-index: 99;
	display: flex;
}

.innerFooter {
	background: $blue;
	color: $white;
	margin: auto;
	width:20%;
	height: 70vh;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	padding:10px 15px;
	border-radius: 10px;
	@include bp('xlrg') {
		width:50%;
	}
	@include bp('lrg') {
		width:50%;
	}
	@include bp('med') {
		width:70%;
	}
	@include bp('sml') {
		width:90%;
	}
}

.footerTitle {
	font-size: 2rem;
	letter-spacing: 2px;
	font-family: $cursive;
	color: $otherGreen;
	margin-top: 20px;
}

.innerFooter p {
	text-align: center;
	margin: 0;
}

.innerFooter p a {
	text-decoration: none;
	color: $white;
	transition: all 0.3s ease-out;
	&:hover {
		color: $surpriseGreen;
	}
}

.closeForm.closeFormFooter i.fa.fa-times {
	color: $surpriseGreen;
}