$white: #FDFDFD;
$purple: #C3ACCE;
$lightBlue: #C6DBF0;
$medBlue: #AED1E6;
$blue: #2D3A65;
$surpriseGreen: #52F9D0;
// $otherGreen: #8defaf;
$otherGreen: #a5ffde;
$black: #050505;

$cursive: 'Pacifico', cursive;
$sanSerif: 'Nunito', sans-serif;

@mixin btnStyles($color, $bgColor) {
	background: none;
	background: lighten($bgColor, 10);
	border:none;
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 1.7rem;
	transition: all 0.3s ease-in;
	color: $color;
	border-radius: 10px;
	&:hover {
		background: darken($bgColor, 20);
	}
}

$bp-large: 940px;
$bp-medium: 767px;
$bp-small: 480px;
$bp-smlMed: 540px;

@mixin bp($size) {
	@if $size == 'xlrg' {
		@media (max-width: 1200px) {
			@content;
	}
}
@if $size =='lrg' {
	@media (max-width: $bp-large){
		@content;
	}
}

@if ($size =='med') {
	@media (max-width: $bp-medium){
		@content;
	}
}
@if ($size =='smlMed') {
	@media (max-width: $bp-smlMed){
		@content;
	}
}
@if ($size =='sml') {
	@media (max-width: $bp-small) {
		@content;
		}
	}
}