
@import 'partials/_normalize.scss';
@import 'partials/_variables.scss';

html{
	font-size: 62.5%;
}

body {
	background-image: url(../../assets/gplaypattern.png);
	background-attachment: fixed;
	color: $black;
	font-size: 1.2rem;
}

h1 {
	color: $surpriseGreen;
	font-family: cursive;
}
form.signIn {
	display: none;
}

form.signUp {
	display: none;
}

form.show {
	display: flex;
}

main {
	display: none;
}

main.showMain {
	display: block
}
.holdActiveandCompleted {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 80%;
	margin: 0 auto;
	background: transparentize(white, 0.3);
}
.taskSection {
	display: flex;
	justify-content:center;
}
.holdClockandTask {
	border: 1px solid red;
	width: 30%;
	display: flex;
	flex-direction: column;
	min-height: 150px;
	min-width: 300px;
}

.countdown {
	align-self: center;
	text-align: center;
}

.monthlyList {
	list-style: none;
	padding:0;
}
.monthlyList__listItem {
	display: flex;
	// justify-content: center;
}
.monthlyList__listItem input {
	display: none;
}

.monthlyList__label {
	display: flex;
	align-items: center;
	width: 50%;
}

.monthlyList__tag {
	display: block;
	text-decoration: none;

}

.monthlyList__label img {
	max-width: 100%;
	display: block;
}

.monthlyList__label .imgContain {
	margin-right: 10px;
}

.monthlyList__label--active .imgContain {
	// border:2px solid red;
	width:10%;
}

.monthlyList__label--completed .imgContain {
	width: 12%;
}

//HEADER STYLING
.userAction {
	display:none;
}

.showUserAction {
	display: flex;
}


