
@import 'partials/_normalize.scss';
@import 'partials/_variables.scss';
@import 'partials/_header.scss';
@import 'partials/_createToDo.scss';
@import 'partials/_todos.scss';
@import 'partials/_animations.scss';
@import 'partials/_inActiveToDos.scss';
@import 'partials/_footer.scss';

html{
	font-size: 62.5%;
}

body {
	// background-image: url(../../assets/sakura.png);
	background-attachment: fixed;
	color: $black;
	font-size: 1.2rem;
	font-family:$sanSerif;
	background: white;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
}


