article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../../assets/gplaypattern.png);
  background-attachment: fixed;
  color: #050505;
  font-size: 1.2rem; }

h1 {
  color: #52F9D0;
  font-family: cursive; }

form.signIn {
  display: none; }

form.signUp {
  display: none; }

form.show {
  display: flex; }

main {
  display: none; }

main.showMain {
  display: block; }

.holdActiveandCompleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7); }

.taskSection {
  display: flex;
  justify-content: center; }

.holdClockandTask {
  border: 1px solid red;
  width: 30%;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  min-width: 300px; }

.countdown {
  align-self: center;
  text-align: center; }

.monthlyList {
  list-style: none;
  padding: 0; }

.monthlyList__listItem {
  display: flex; }

.monthlyList__listItem input {
  display: none; }

.monthlyList__label {
  display: flex;
  align-items: center;
  width: 50%; }

.monthlyList__tag {
  display: block;
  text-decoration: none; }

.monthlyList__label img {
  max-width: 100%;
  display: block; }

.monthlyList__label .imgContain {
  margin-right: 10px; }

.monthlyList__label--active .imgContain {
  width: 10%; }

.monthlyList__label--completed .imgContain {
  width: 12%; }

.userAction {
  display: none; }

.showUserAction {
  display: flex; }

.overlayFooter {
  position: absolute;
  bottom: 0;
  right: 0;
  background: grey; }
